.custom-tabs .nav-item {
    margin-right: 40px; /* Adjust the spacing as needed */
  }
  
  .custom-tabs .nav-link {
    border: none;
    color: #000;
  }
  
  .custom-tabs .nav-link.active {
    border-bottom: 3px solid #00b3b3; /* Underline color for the active tab */
  }
  