.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.post-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Ensure constant height (2 line height always) */
  min-height: calc(1.2em * 2); /* 1.2em ≈ line-height */
  line-height: 1.2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-tab-button:hover {
  color: white !important;
}

.scroll-row-rent {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-row-rent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-black-checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.custom-black-checkbox:checked {
  background-color: black;
  border-color: black;
}

.custom-black-checkbox:checked::after {
  content: '✓';
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
